@import url("font.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Vazirmatn FD";
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-top-font {
  font-size: 0.8rem;
}
.header-top-bg-color {
  background-color: #232f3e;
}
.basket a {
  background-color: transparent;
  font-size: 0.9rem;

}
.basket .sabad{
  vertical-align: -2px;
}
.basket a:hover , .basket a:focus {
  box-shadow: none !important;
}

.basket .dropdown-toggle::after {
  vertical-align: 0px;
}
.sabad_items li a img{
  width: 64px;
  height: 64px;
}
.sabad_items{
 min-width: 80%;
}
.sabad_items li a{
  width: unset;
}
.custom-navbar-nav li a{
 font-size: 0.85rem;
}

.nav-item{
  position: unset;
}

.dropdown-menu{
  width: 100%;
}

  